@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 40% {
        transform: translateY(-25%);
    } 60% {
        transform: translateY(-12.5%);
    }
}

.main-header {
    width: 100%;
    height: 300px;
    display: table;
    position: relative;
    &__text {
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h1 {
            font-weight: 700;
            font-size: 36px;
            margin: 0 0 0.5em;
        }
        h2 {
            font-weight: 400;
            font-size: 18px;
            margin: 0 0 1em;
        }
        p {
            font-style: italic;
            font-size: 12px;
        }
    }
    .scroll-arrow {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -$arrowSize * 0.5;
        cursor: pointer;
        animation: bounce 2s infinite;
        .icon { font-size: $arrowSize; }
    }
}

.footer {
    padding: 10px;
    background: $highlight;
    text-align: right;
    .contact-link .icon {
        margin-left: 0.25em;
        font-size: 36px;
        color: #fff;
    }
}

.posts {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}

.post-button__wrap {
    display: inline-block;
    height: 500px;
    .post-button {
        position: relative;
        height: 100%;
        background: #fff;
        overflow: hidden;
        figure {
            max-height: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        article {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #000;
            padding: 30px;
            h1 {
                margin: 0.25em 0 1em;
                line-height: 1;
                font-weight: 700;
                font-size: 32px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            left: 0; right: 0;bottom: 0px;
            height: 60px;
            margin: 0 30px;
            background: linear-gradient(rgba(255, 255, 255, 0), #fff, #fff);
        }
    }
}

// responsive views
@media all and (min-width: 400px) {
    .frontpage {
        background: #eee;
    }
    .posts {
        margin-top: 20px;
        padding: 0 7.5px;
    }
    .post-button__wrap {
        box-sizing: border-box;
        padding: 0 10px 20px;
        .post-button {
            box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
    }
}

@media all and (min-width: 640px) {
    .posts {
        padding: 0 10px;
    }
    .post-button__wrap {
        width: 50%;
    }
}

@media all and (min-width: 960px) {
    .posts {
        padding: 0 15px;
    }
    .post-button__wrap {
        width: 33.3%;
    }
}

@media all and (min-width: 360px) and (min-height: 480px) {
    .main-header{
        height: 450px;
        &__text {
            padding: 15px;
            h1 {
                font-size: 48px;
            }
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 13px;
            }
        }
        .scroll-arrow {
            margin-left: -$arrowSize * 0.75;
            .icon { font-size: $arrowSize * 1.5; }
        }
    }
}

@media all and (min-width: 480px) and (min-height: 640px) {
    .main-header{
        height: 600px;
        &__text {
            padding: 20px;
            h1 {
                font-size: 60px;
            }
            h2 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
            }
        }
        .scroll-arrow {
            margin-left: -$arrowSize;
            .icon { font-size: $arrowSize * 2; }
        }
    }
}

@media all and (min-width: 600px) and (min-height: 800px) {
    .main-header  {
        height: 750px;
        &__text {
            padding: 25px;
            h1 {
                font-size: 72px;
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 15px;
            }
        }
        .scroll-arrow {
            margin-left: -$arrowSize * 1.25;
            .icon { font-size: $arrowSize * 2.5; }
        }
    }
}

@media all and (min-width: 720px) and (min-height: 960px) {
    .main-header  {
        height: 900px;
        &__text {
            padding: 30px;
            h1 {
                font-size: 84px;
            }
            h2 {
                font-size: 42px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
