---
layout: default
---
<body class="frontpage">
    <header class="main-header">
        <div class="main-header__text">
            <h1>Hello, I'm Liam!</h1>
            <h2>I make things with code, things such as these</h2>
            <p>Will be available for short-term contract work in the new year</p>
        </div>
        <span class="scroll-arrow">
            {% include icon.html name='chevron-down' %}
        </span>
    </header>

    <ul class="posts">
        {% for post in site.posts %}
        <li class="post-button__wrap"><a href="{{post.url}}">
            <section class="post-button">
                <figure><img src="images/{{post.featured-image}}"></figure>
                <article>
                    <h1>{{post.title}}</h1>
                    {{ post.content | strip_html }}
                </article>
            </section>
        </a></li>
        {% endfor %}
    </ul>

    <footer class="footer">
        <a href="mailto:liamtalkstorecruiters@gmail.com" class="contact-link">
            {% include icon.html name='email' %}
        </a>
        <a href="https://github.com/liamness/" class="contact-link">
            {% include icon.html name='github' %}
        </a>
        <a href="https://www.linkedin.com/in/liamness/" class="contact-link">
            {% include icon.html name='linkedin' %}
        </a>
        <a href="https://stackoverflow.com/users/4672031/liamness" class="contact-link">
            {% include icon.html name='stack-overflow' %}
        </a>
        <a href="https://twitter.com/liamness" class="contact-link">
            {% include icon.html name='twitter' %}
        </a>
    </footer>

    {% include scripts.html %}
</body>
