---
layout: default
---
<body class="frontpage">
    <header class="main-header">
        <hgroup>
            <h1>Hello, I'm Liam!</h1>
            <h2>I make things with code, things such as these</h2>
        </hgroup>
        <span class="scroll-arrow">
            <svg class="icon"><use xlink:href="/svg/icons.svg#chevron-down"/></svg>
        </span>
    </header>

    <ul class="posts">
        {% for post in site.posts %}
        <li class="post-button__wrap"><a href="{{post.url}}">
            <section class="post-button">
                <figure><img src="images/{{post.featured-image}}"></figure>
                <article>
                    <h1>{{post.title}}</h1>
                    {{ post.content | strip_html }}
                </article>
            </section>
        </a></li>
        {% endfor %}
    </ul>

    <footer class="footer">
        <a href="mailto:liam.p.duffy@gmail.com" class="contact-link">
            <svg class="icon"><use xlink:href="/svg/icons.svg#email"/></svg>
        </a>
        <a href="http://github.com/liamness/" class="contact-link">
            <svg class="icon"><use xlink:href="/svg/icons.svg#github"/></svg>
        </a>
        <a href="http://uk.linkedin.com/pub/liam-duffy/66/573/12b/" class="contact-link">
            <svg class="icon"><use xlink:href="/svg/icons.svg#linkedin"/></svg>
        </a>
        <a href="http://twitter.com/liamness" class="contact-link">
            <svg class="icon"><use xlink:href="/svg/icons.svg#twitter"/></svg>
        </a>
    </footer>

    <script type="text/javascript" src="js/scroll.js"></script>
    {% include scripts.html %}
</body>
